.rt-layout {
  margin-left: -($react-timelines-sidebar-width - $react-timelines-sidebar-closed-offset);

  @media (min-width: $react-timelines-auto-open-breakpoint) {
    margin-left: 0;
  }
  display: flex;
  width:100%;
  &.rt-is-open {
    margin-left: 0;
  }
}

.rt-layout__side {
  position: relative;
  z-index: 2;

  vertical-align: top;
}

.rt-layout__main {
  vertical-align: top;
  flex-grow: 1;
}

.rt-layout__timeline {
  overflow-x: auto;
}
